!!! 5
html
	head
		script( type='text/javascript', src='js/loader.js' )
	body
		//- creates `<div class="widget">`
		.widget

			//- Example share tab/popup
			#share
				.tab
					span Share
				.popup
					span Popup Content Goes Here