!!! 5
html
	head
		meta( name='viewport', content='user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0' )
		script( type='text/javascript', src='js/loader.js' )
		link( href="css/widget.css", rel="stylesheet", type="text/css" )

	body
		#menu
			select#model-chooser
				option( value="" ) Select A Model
				option( value="" ) ----------
				option( value="jcShip2" ) Ship

			select#shader-chooser
				option( value="none" ) No Shading
				option( value="flat" ) Flat

			select#ambient-chooser
				option( value="" ) Ambient Light
				option( value="" ) -------------

				//- display 0% --> 100% by 5% steps
				- for( var i=0; i<=100; i+=5 )
					option( selected=(i==25)?'true':null )= i+'%'

			select#texture-chooser
				option( value="solid" ) Solid-Color
				option( value="texture" ) Texture Mapping
				option( value="none" ) None

			input#wireframe-option( type="checkbox" )
			|  Show Wireframe 

			span#spec-mask-option
				input#apply-spec-mask( type="checkbox" )
				|  Apply Specular Mask 

			input#checkerboard-option( type="checkbox" )
			|  Show Checkerboard

			button( type='button' ) Generate Texture
		#model
		#texture