!!! 5
html
	head
		script( type='text/javascript', src='js/loader.js' )
	body
		#scroller
			#mock-height
		ul#nav
			li
				a( href='#home', title='Home' )
			li
				a( href='#different', title='What Makes Us Different' )
			li
				a( href='#west-coast', title='Our West Coast Offices' )
			li
				a( href='#intel', title='Intel Cross Platform Experience' )
			li
				a( href='#bing', title='Bing Advertising' )
			li
				a( href='#bestbuy', title='Best Buy Holiday Campaign' )
			li
				a( href='#nike', title='Nike Social Media' )
			li
				a( href='#keystone', title='Keystone Light: Keith Stone' )
			li
				a( href='#mercedes', title='Mercedes-Benz Tweet Race' )
			li
				a( href='#microsoft', title='Microsoft Retail Touchscreens' )
			li
				a( href='#choice', title='Choice Hotels Web Development' )
			li
				a( href='#barbie', title='Barbie\'s 50th Anniversary' )
			li
				a( href='#levis', title='Levi\'s Go Forth' )
			li
				a( href='#contact', title='Contact' )
			
		#content
			section#header
				.logo
				h1 Hello and thank you for considering Razorfish.

				h3
					| Razorfish is a full-service agency with digital and technology at the core.  We
					| create experiences that build businesses, combining the best thought leadership
					| of the consulting world with the leading capabilities of the marketing services
					| industry.
				ul
					li
						a( href='#' ) What makes us different
					li
						a( href='#' ) Razorfish West
					li
						a( href='#' ) Our Work

			section#different
				h2 What Makes Us Different
				.body
					| While we compete with ad agencies, creative firms, web design shops, and
					| technology firms, Razorfish is more capable at combining people who have a deep
					| understanding of experience design and technologies with those who are steeped
					| in traditional marketing. We combine a digital heritage with big idea thinking,
					| and are able to execute at the most granular, tactical level. This means we can
					| create seamlessly integrated, end-to-end digital solutions that will transform
					| your businesses.

			section#west-coast
				h2 Our West Coast Offices
				.body
					| On the West Coast of the U.S., we are unified as one operating unit with
					| offices in San Francisco, Seattle, and Portland. This allows us to combine
					| best-of-class talent to suit any client need up and down the coast. We employ
					| more than 450 specialists that focus on: strategic endeavors (analytics,
					| consumer insights, business strategy, client engagement); creative design and
					| development of digital experiences (including design, content development, UX,
					| and technology); and media planning across paid/owned/earned channels
					| (including planning/buying as well as ad placement, measurement, and
					| optimization).

			section#intel
				h2 Intel Cross Platform Experience
				h4 Our work: Design \/\/ Development for Web \/\/ Mobile \/\/ Print
				.body
					| Razorfish has partnered with Intel since 2007 to deliver digital marketing
					| strategy and the design/execution of interactive experiences for Intel's
					| consumer division. Our challenge is to make consumers understand that choosing
					| the right device means starting with the right processor; the right chip still
					| matters. 

			section#bing
				h2 Bing Advertising
				h4 Our work: Brand Identity \/\/ Ad Creative \/\/ Online Video \/\/ Media Planning & Buying \/\/ Analytics
				.body
					| Back in 2009, Microsoft needed to redefine customer's expectations of search
					| engines. In a highly competitive/low engagement category, Razorfish led the
					| digital launch of Bing. Our first challenge was to create the brand identity.
					| We then created digital experiences to show "why Bing, what Bing is good for,
					| and when to use Bing."
				.logo

			section#bestbuy
				h2 Best Buy Holiday Campaign
				h4 Our work: Digital Media Planning & Buying
				.body
					| Razorfish has created digital media solutions to drive sales and build the Best
					| Buy brand for more than a decade. For Holiday 2010, the challenge was to make
					| sure shoppers knew there really was a difference when it came to deciding where
					| to buy technology gifts. 
				img.section-bg( src="images/bestbuy_bg.png" )
				img#employee.parallax( src="images/bestbuy_employee.jpg", alpha-src="images/bestbuy_employee_mask.png", style="visibility:hidden;" )
				div.parallax.present1
				div.parallax.present2
				div.parallax.present3
				div.parallax.present4
				div.parallax.present5
				div.parallax.present6
				div.parallax.present7
				div.parallax.present8
				div.parallax.present9
				div.parallax.present10
				div.parallax.present11
				div.parallax.present12
				div.parallax.present13
				div.parallax.present14
				div.parallax.present15
				div.parallax.present16
				div.parallax.present17

			section#nike
				h2 Nike Social Media
				h4 Our work: Media Planning and Buying Across Paid, Owned, and Earned Channels
				.body
					| For the 2010 World Cup, Razorfish provided a social media strategy that helped
					| Nike own the conversation, without having to own the sponsorship. Razorfish
					| planned, negotiated, and implemented a first-of-its-kind global media effort on
					| three platforms: Facebook, YouTube, XBOX. We took Nike's exciting three minute
					| "Write the Future" video and seeded it to influencers to fuel the conversation
					| during the World Cup. Soccer fans on our global social platform increased from
					| 1MM to more than 3MM. Nike had twice as many references related to the World
					| Cup versus the official sponsor Adidas. And the "Write the Future" video broke
					| YouTube's global advertising record for the biggest audience.
				.logo

				ul.thumbnails-1
					li.thumb1
					li.thumb2
					li.thumb3
					li.thumb4
					li.thumb5
					li.thumb6
					li.thumb7
					li.thumb8
					li.thumb9
					li.thumb10
				ul.thumbnails-2
					li.thumb11
					li.thumb12
					li.thumb13
					li.thumb14
					li.thumb15
					li.thumb16
					li.thumb17
					li.thumb18
					li.thumb19
					li.thumb20
				ul.thumbnails-3
					li.thumb21
					li.thumb22
					li.thumb23
					li.thumb24
					li.thumb25
					li.thumb26
					li.thumb27
					li.thumb28
					li.thumb29
					li.thumb30

			section#keystone
				h2 Keystone Light: Keith Stone
				h4 Our work: Creative and Media Planning and Buying across Owned and Earned Channels
				.body
					| Razorfish creates engaging experiences for the target audiences of six
					| different MillerCoors' brands. Keith Stone is the creative personality that
					| embodies the Keystone Light brand. He's the rad older brother of the cruiser
					| way of life. Razorfish oversees Keith Stone's digital persona.

			section#mercedes
				h2 Mercedes-Benz Tweet Race
				h4 Our work: Social Media Campaign
				.body
					| Mercedes found itself in a crowded Super Bowl automotive field in 2011.
					| Razorfish was challenged with creating a digitally focused event to maximize
					| interest in the brand leading up to the big game. Enter Tweet Race: the first
					| automotive race powered by social media activity.

			section#microsoft
				h2 Microsoft Retail Touchscreems
				h4 Our work: Digital Out-of-home
				.body
					| As Microsoft was preparing for the Windows Phone 7 launch, they needed to make
					| a big splash at the 2010 Mobile World Congress. Razorfish built an interactive
					| touch-screen simulation to generate enthusiasm at the event. 

			section#choice
				h2 Choice Hotels Web Development
				h4 Our work: Design and Web Development
				.body
					| When Choice Hotels realized their site had become dated and they weren't
					| meeting the core needs of traveler and their business, Razorfish was engaged to
					| design and build a new web delivery platform based on modern, industry standard
					| and open-source frameworks.  

			section#barbie
				h2 Barbie's 50th Anniversary
				h4 Our work: Creative and Media Planning and Buying across Paid, Owned, and Earned Channels
				.body
					| To celebrate Barbie's 50th Anniversary, Mattel asked Razorfish and their PR
					| agency to work together to create a major celebration and buzz. The Barbie
					| brand had lost relevance for adult women, there was little brand engagement
					| beyond the brick-and-mortar, product-focused approach the brand had pursued
					| through the traditional 30-second spot. We gave Barbie a voice for the first
					| time in 50 years via creative executions which allowed Barbie to speak directly
					| to consumers. 

			section#levis
				h2 Levi's Go Forth
				h4 Our work: Creative and Media Planning and Buying across Paid, Owned, and Earned Channels
				.body
					| Levi's asked Razorfish to "express the myth of America again." We worked with
					| their offline agency to create an integrated campaign that re-launched the
					| pioneering 140-year-old brand to today's audience. By combining a creative use
					| of social with disruptive media and creative we forged a mutual conversation
					| between the brand and the consumer. 

			section#contact
				h2 Thanks For Visiting