/* This can be removed, it simply outlines the fake content area */
#content {
	width      : 960px;
	margin     : 0 auto;
	border     : 1px solid #CCC;
	padding    : 16px;
	background : url( '../images/bg_section.png' ) repeat-x 0 bottom;
}

body {
	font-family : arial;
	font-size   : 12px;
}

sup {
	vertical-align : top;
	font-size      : 0.6em;
}

a {
	text-decoration : none;
	color           : inherit;
}

h1 {
	color     : #085A9D;
	font-size : 20px;
	margin    : 0 0 20px 0;
}

.clear {
	clear : both;
}

p {
	margin : 1em 0;
}

strong {
	font-weight : bold;
}

/*****************
 * Nav LI Styles *
 *****************/

#left-nav {
	width         : 243px;
	margin        : 0 23px 0 -24px;
	background    : url( '../images/v_nav_right.png' ) repeat-y right 0px;
	padding-right : 26px;
	float         : left;
}

#left-nav li, #left-nav li.hover.no-hover {
	padding      : 0 0 0 36px;
	background   : url( '../images/h_nav_section.png' ) no-repeat;
	line-height  : 25px;
	color        : #085A9D;
}

	#left-nav li a {
		display : block;
	}

	#left-nav li.hover {
		background : url( '../images/h_nav_hover.png' ) repeat-x;
	}

	#left-nav li.selected, #left-nav li.hover.no-hover.selected {
		background     : url( '../images/nav_banner.png' ) no-repeat;
		color          : #FFF;
		line-height    : 21px;
	}

	#left-nav li.selected a {
		padding-top : 4px;
	}
	
		#left-nav li.selected li a {
			padding-top : 0px;
			cursor      : pointer;
		}

		#left-nav li li.selected a {
			padding-top : 0px;
			line-height : 25px;
		}
	
	#left-nav ul ul {
		margin-left : -12px;
	}
	
	#left-nav li li, #left-nav li li.selected {
		padding-left : 23px;
		background   : url( '../images/icon_right_arrow.png' ) no-repeat 13px 8px;
		color        : #000;
	}

		#left-nav ul li li.hover {
			background : #E0ECF6 url( '../images/icon_right_arrow.png' ) no-repeat 13px 8px;
		}
		
		#left-nav li li.selected {
			color : #23A0E8;
		}

/****************
 * Page Content *
 ****************/

#page-content {
	position : relative;
	z-index  : 1;
	overflow : hidden;
}

	#page-content .content {
		position : relative;
		top      : 0px;
		left     : 0px;
	}
	
	#page-content ul li {
		list-style-type : disc;
		margin-left     : 20px;
	}