/*************************************
 * Include equivalent of a reset.css *
 *************************************/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0px;
  padding: 0px;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
.clear {
  zoom: 1;
}
.clear:before,
.clear:after {
  content: "";
  display: table;
}
.clear:after {
  clear: both;
}
/**********************************
 * Define sizes & other variables *
 * ( Yes, Stylus has Variables )  *
 **********************************/
body {
  position: relative;
  z-index: 1;
  color: #444;
  font-family: verdana, sans-serif;
  font-size: 11px;
}
hr {
  border: 0px;
  height: 1px;
  margin: 0px;
  background: url("../images/sprite-0.gif") repeat-x;
  background-position: 0 0;
}
h1 {
  font-size: 34px;
  font-family: MetaNormalRegular, Verdana, sans-serif;
}
h3 {
  font-size: 16px;
  font-family: MetaBoldCaps, verdana, sans-serif;
  text-transform: uppercase;
}
h4 {
  font-weight: bold;
}
em {
  font-style: italic;
}
a,
a:active,
a:visited {
  color: #444;
  text-decoration: none;
}
a:hover {
  color: #aeb0b3;
}
.video {
  overflow: hidden;
}
#site {
  position: relative;
  z-index: 1;
}
#top-banner {
  background: url("../images/top-banner-bg.gif") repeat-x;
  height: 174px;
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 0px;
  width: 100%;
}
.top-banner {
  height: 174px;
  margin-bottom: 20px;
  font-family: MetaNormalRegular, Verdana, sans-serif;
  padding: 30px 50px 0px 150px;
  font-size: 14px;
}
.top-banner .bg {
  width: 895px;
  height: 174px;
  background: url("../images/sprite-3.png");
  position: absolute;
  z-index: 1;
  top: 0px;
  left: -50px;
  background-position: 0 -492px;
}
.top-banner .copy {
  line-height: 20px;
}
#content {
  position: relative;
  width: 850px;
  margin: 0px auto;
  z-index: 2;
}
#download {
  height: 355px;
  background: url("../images/sprite-3.png") no-repeat;
  position: relative;
  z-index: 1;
  top: 0px;
  left: 0px;
  background-position: 0 0;
}
#download .content {
  position: absolute;
  z-index: 1;
  top: 80px;
  left: 420px;
}
#download .content .agency-copy {
  width: 349px;
  height: 32px;
  background: url("../images/sprite-1.jpeg");
  margin: 0px 0px 0px 10px;
  background-position: 0 0;
}
#download .content .download {
  width: 221px;
  height: 44px;
  background: url("../images/sprite-2.gif");
  display: block;
  margin: 30px 0px 5px 0px;
  background-position: 0 0;
}
#download .content .download:hover {
  width: 221px;
  height: 44px;
  background: url("../images/sprite-2.gif");
  background-position: 0 -44px;
}
#download .content .contact {
  margin: 100px 0px 0px 10px;
  font-family: MetaNormalRegular, Verdana, sans-serif;
  font-size: 14px;
}
#team {
  margin: 20px 0px 50px 0px;
}
#team .group1,
#team .group2 {
  width: 50%;
  display: inline-block;
  vertical-align: top;
}
#team ul {
  margin: 0px 0px 0px -3px;
}
#team ul li {
  list-style-type: none;
  padding: 0px 10px 0px 85px;
  margin: 10px 0px 20px 0px;
  min-height: 60px;
  line-height: 16px;
}
#team ul li.bob-lord {
  background: url("../images/thumb-bob-lord.jpg") no-repeat;
}
#team ul li.bob-lord a {
  z-index: 6;
}
#team ul li.brandon {
  background: url("../images/thumb-brandon-geary.jpg") no-repeat;
}
#team ul li.garrick {
  background: url("../images/thumb-garrick-schmitt.jpg") no-repeat;
}
#team ul li.garrick a {
  z-index: 4;
}
#team ul li.christian {
  background: url("../images/thumb-christian-juhl.jpg") no-repeat;
}
#team ul li.christian a {
  z-index: 5;
}
#team ul li.joe {
  background: url("../images/thumb-joe-mele.jpg") no-repeat;
}
#team ul li.joe a {
  z-index: 2;
}
#team ul li.jennifer {
  background: url("../images/thumb-jennifer-friese.jpg") no-repeat;
}
#team ul li.jennifer a {
  z-index: 3;
}
#team ul li a {
  position: relative;
  z-index: 1;
  background: #fff;
  display: block;
}
#team ul li .bio {
  display: none;
  position: absolute;
  z-index: 1;
  top: 20px;
  left: 20px;
  border: 1px solid #eee;
  background: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 10px;
  width: 400px;
  color: #444;
  -webkit-box-shadow: 0px 0px 5px #999;
  -moz-box-shadow: 0px 0px 5px #999;
  box-shadow: 0px 0px 5px #999;
}
#team ul li .bio br {
  margin: 10px 0px;
  display: block;
  line-height: 35px;
}
#reels {
  margin: 20px 0px 50px 0px;
}
#reels ul {
  margin: 20px 0px 0px -3px;
}
#reels ul li a {
  float: left;
  white-space: nowrap;
  display: block;
  width: 124px;
  height: 100px;
  padding: 75px 0px 0px 3px;
  margin: 0px 70px 0px 0px;
}
#reels ul li a.ideas {
  background: url("../images/thumb-rf-ideas.jpg") no-repeat;
}
#reels ul li a.bing {
  background: url("../images/thumb-bing.jpg") no-repeat;
}
#reels ul li a.mercedes {
  background: url("../images/thumb-tweet-race.jpg") no-repeat;
}
#reels ul li a.lynx {
  background: url("../images/thumb-lynx.jpg") no-repeat;
}
#links h3 {
  margin: 30px 0px 10px 0px;
}
#links #sites,
#links #published {
  display: inline-block;
  width: 50%;
  vertical-align: top;
}
#links #sites ul li,
#links #published ul li {
  list-style-type: none;
  padding-left: 15px;
  background: url("../images/right-arrow.gif") no-repeat 0px 2px;
  margin: 4px 0px 0px 0px;
}
#bottom-banner {
  background: url("../images/bottom-banner-bg.gif") repeat-x;
  height: 137px;
  position: absolute;
  z-index: 1;
  bottom: 0px;
  left: 0px;
  width: 100%;
}
.bottom-banner {
  margin-top: 20px;
}
.bottom-banner .bg {
  width: 895px;
  height: 137px;
  background: url("../images/sprite-3.png");
  background-position: 0 -355px;
}
