margin( args... )
	params = ()
	for n in args
		push( params, ( 'unit' != typeof( n ) ) ? n : unit( n, unit( n ) || 'px' ) )

	margin params

margin-top( args... )
	params = ()
	for n in args
		push( params, ( 'unit' != typeof( n ) ) ? n : unit( floor(n), unit( n ) || 'px' ) )

	margin-top params

margin-right( args... )
	params = ()
	for n in args
		push( params, ( 'unit' != typeof( n ) ) ? n : unit( n, unit( n ) || 'px' ) )

	margin-right params

margin-bottom( args... )
	params = ()
	for n in args
		push( params, ( 'unit' != typeof( n ) ) ? n : unit( n, unit( n ) || 'px' ) )

	margin-bottom params

margin-left( args... )
	params = ()
	for n in args
		push( params, ( 'unit' != typeof( n ) ) ? n : unit( n, unit( n ) || 'px' ) )

	margin-left params