padding( args... )
	params = ()
	for n in args
		push( params, unit( n, unit( n ) || 'px' ) )

	padding params

padding-top( args... )
	params = ()
	for n in args
		push( params, unit( n, unit( n ) || 'px' ) )

	padding-top params

padding-right( args... )
	params = ()
	for n in args
		push( params, unit( n, unit( n ) || 'px' ) )

	padding-right params

padding-bottom( args... )
	params = ()
	for n in args
		push( params, unit( n, unit( n ) || 'px' ) )

	padding-bottom params

padding-left( args... )
	params = ()
	for n in args
		push( params, unit( n, unit( n ) || 'px' ) )

	padding-left params