!!! 5
html
	head
		script( type='text/javascript', src='js/loader.js' )
		link( href='http://fonts.googleapis.com/css?family=Didact+Gothic', rel='stylesheet', type='text/css' )
	body
		#site( style='display:none' )
			#top-banner

			#content
				.top-banner
					.bg
					.h1
					.copy
						| We are thrilled to participate in your selection process and look forward to
						| discussing our ideas with you. On this dedicated MSNBC page you will be able to access
						| our presentation materials as well as links to an agency reel and other Razorfish
						| work. Enjoy!

				#download
					.bg
					.content
						a.btn.download_prop( target='_blank', href='files/MSNBC_Razorfish_RFP.pdf' )
							| download
							br
							| proposal

						a.btn.download_case( target='_blank', href='files/Razorfish_Case_Studies.pdf' )
							| download
							br
							| case
							br
							| studies

						.clear
						.contact
							h4 
								| Additional questions,
								br
								| please feel free to reach out to:
							small.dark-text
								| Brooks R. Day | Director of Business Development
								br
								a( href='mailto:Brooks.Day@razorfish.com' ) Brooks.Day@razorfish.com 
								| | 415-369-6521

				hr

				#reels
					ul
						li
							a.ideas( href='#' ) Razorfish Manifesto

					.clear

				hr

				#team
					ul
						li
							a.z9( href='#' )
								h4 Garrick Schmitt
								span.dark-text
									| Managing Director,
									br
									| Experiences & Platforms

								.bio
									| Garrick leads our Experience & Platforms Group of strategists, planners, analysts,
									| and interaction designers. Since joining Razorfish in 1999, he has helped clients
									| such as CBS, Williams-Sonoma, Intel, PayPal, Yahoo!, Mattel, and ESPN adapt to a
									| changing consumer and technology landscape. He has also led an in-house innovation
									| team (Razorfish Idea Lab) that focuses on next-generation consumer applications
									| and technologies&mdash;including social media, mobile applications, interactive
									| advertising, and IPTV. Garrick is a recognized thought leader in the industry. He
									| publishes FEED, our annual digital brand experience report that charts the
									| evolution of consumer behavior and technology; is a regular columnist on digital
									| advertising for Advertising Age; and has spoken widely at conferences such as
									| SXSW, Ad:tech, Web 2.0 Expo, IAB MIXX, Microsoft's MIX, iMedia, and the IA Summit.

						li
							a.z8( href='#' )
								h4 Andrew Crow
								span.dark-text VP Experience Design

								.bio
									| Andrew leads teams in multiple studios to design and produce experiences for
									| customers across multiple channels. As part of the leadership team at Razorfish,
									| Andrew engages with business and design communities, helping to share thought
									| leadership. Previously, as a Senior Experience Designer at Adaptive Path, Andrew
									| led design teams on projects for both enterprise clients and startups. Helping
									| organizations such as Ameriprise, Electronic Arts, The Gap, HP, NASA, Plastic
									| Logic, Princess Cruises, Warner Bros., and Zappos has enabled Andrew to affect
									| experiences for millions of people. Continually obsessed with the latest
									| technologies in the mobile and mixed-media spaces, Andrew consults on the design
									| of mobile applications, social networking, and collaboration software. He is an
									| advocate of ubiquitous computing and approaches projects with a desire to ensure
									| that the experience of a product stems from a strong overall strategy. Andrew is a
									| member of American Institute of Graphic Arts (AIGA), Interaction Design
									| Association (IxDA), the Information Architecture Institute (IAI), Special Interest
									| Group on Computer-Human Interaction (BayCHI), and the Industrial Designers Society
									| of America (IDSA).

						li
							a.z7( href='#' )
								h4 Christopher Follett
								span.dark-text Executive Creative Director

								.bio
									| Christopher is responsible for setting the direction and overseeing the
									| development of all creative projects for Razorfish West Experience & Platforms
									| Group projects. He oversees the disciplines of rich media, creative strategy,
									| visual-system design, and interface development. Drawing on a background in fine
									| arts, motion graphics, and environmental design, Christopher collaborates with
									| Razorfish clients to design and create powerful brand relationships through unique
									| user experiences that are only possible online. He is passionate about generating
									| innovative functionality by applying behavioral insights discovered through
									| primary research and usability studies. Christopher has driven successful
									| experience-design solutions for a range of Fortune 500 companies and industry
									| leaders, including Sony, Disney, Red Bull, WaMu, Intel, Shutterfly and Visa.
									| Christopher holds a BA from Otis Parsons in New York.


					ul
						li
							a.z6( href='#' )
								h4 Joe Oh
								span.dark-text Client Strategy

								.bio
									| Joe has more than 15 years of integrated marketing experience&mdash;evident by the
									| various roles he has held, including agency owner, general manager, head of
									| strategy, head of innovation, and media director. Joe has been a strategic
									| partner to leaders in consumer technology including Google Mobile and Windows
									| Mobile, innovators in automotive such as Tesla Motors, and leaders of popular
									| culture like Nike, Sega, and Sony PlayStation. Despite his experience with such
									| amazing, well-known brands, Joe takes greatest career pride in the time spent
									| leading the go-to-market strategy (and eventual $400 million acquisition) of
									| Silicon Valley start-up darling, Slingbox. Prior to joining Razorfish, Joe was
									| Principal at integrated strategy and design firm OH Collective, General Manager at
									| the creative boutique Hub Strategy, Head of Account Management at Duncan Channon,
									| and also held account management titles at advertising mainstays Lowe & Partners
									| and FCB. Joe holds Bachelor of Science degrees in Biology and Human Development
									| from the University of California at Davis and has surprisingly found use of his
									| pre-med background nearly every day of his marketing career.

						li
							a.z5( href='#' )
								h4 Michael Betts
								span.dark-text Director of User Experience

								.bio
									| Michael is a 12-year Internet veteran. As Director of User Experience he works
									| closely with clients to envision and design digital solutions that consistently
									| exceed the expectations of customers. Should we engage with your team, his
									| responsibilities would include ownership for the end-user interface&mdash;leading the
									| team through a user-centered design process to deliver a world-class experience.
									| If the Creative Director is like a cinematographer for a feature film, you can
									| liken his role to the director. At Razorfish, he has led engagements across a
									| diverse set of clients including Microsoft, Visa, ESPN, Toshiba, CBS, Yahoo, AIG
									| and Vodafone. Prior to Razorfish, Michael served in product development at NBC
									| Internet, the portal formerly known as Snap.com. He's passionate about bringing
									| real value to users, thinks the Web has always been social, and prefers brainstorm
									| sessions that don't involve a computer.

						li
							a.z4( href='#' )
								h4 Mike Selman
								span.dark-text VP Strategy

								.bio
									| Mike leads the strategy consulting practice for our West Coast clients. In this
									| role, he is responsible for working with our clients, client teams, and discipline
									| leads across the agency to identify and size business-building opportunities and
									| deliver solutions that drive measurable and impactful results. Mike joined
									| Razorfish in 2008 and has helped drive performance improvements for clients
									| including Best Buy, Levi¹s, MillerCoors, Weight Watchers, and Holland America
									| Line. Mike is a seasoned marketing strategist who started his career at Walt
									| Disney, where he worked on the launches of Cinderella, Pocahontas, Aladdin, and
									| Toy Story as a part of the Buena Vista Home Entertainment group. After Disney, he
									| spent the next 15 years leading a range of marketing efforts at both
									| venture-funded startups and large organizations. Mike came to Razorfish from
									| T-Mobile, where he was a responsible for the $2.2Bn data services category. Mike
									| holds a Bachelors of Science from Eastern Illinois University and an MBA from
									| Loyola University of Chicago.

					ul
						li
							a.z3( href='#' )
								h4 Mark McKenna
								span.dark-text Group VP Delivery Management

								.bio
									| Mark leads the Delivery Management discipline within our Experience & Platforms
									| Group. Mark's team is responsible for delivering projects on time, on budget and
									| beyond our clients' expectations. Mark has more than twelve years of experience
									| working in Web consulting and has provided leadership on a wide variety of
									| projects in his career including major Web initiatives for McKesson, Fidelity,
									| Rabobank International, BJ's Wholesale Club, and Sun Microsystems. Prior to
									| joining Razorfish, Mark worked at BiT Group, Inc.&mdash;a web consulting services
									| company in Boston. Mark's education includes a MBA from Northeastern University
									| and an undergraduate degree in International Management and Computer Science from
									| American University.

						li
							a.z2( href='#' )
								h4 Holly Kasun
								span.dark-text Director Account Planning

								.bio
									| Holly integrates qualitative insights into the media, strategic, and creative
									| product of Razorfish. With more than 13 years of experience on the agency and
									| client side, she has a proven track record in developing and managing teams that
									| generate results-driven advertising initiatives. Prior to joining Razorfish, Holly
									| was Head of Accounts for Riot, in Amsterdam. While there, she drove the planning
									| strategy for brands such as adidas and Stella McCartney, and built out a team of
									| 50 employees. Before that, she was Brand Director at 72andSunny in El Segundo,
									| California, where she planned strategic campaign architecture to help shape the
									| execution of campaigns for Nike, Discovery Channel, Quiksilver, Callaway Golf, and
									| more. Holly has also worked on the client side of the business, including two
									| years at Nike. She was promoted from the Niketown.com U.S. division to be Digital
									| Commerce Marketing Manager for EMEA Nikstore.com in the Netherlands. There, she
									| led marketing initiatives that drove more than 45% of online traffic and generated
									| 50% of site revenue. She also initiated social media content generation, and
									| managed three outside agencies. Holly has a M.A. in Advertising and a B.A. in
									| Political Science from the University of Wisconsin.

						li
							a.z1( href='#' )
								h4 Deidra Bodkin
								span.dark-text VP Media

								.bio
									| Deidra has 15+ years of integrated marketing and media experience across branding,
									| lead gen, media planning and buying, and social media marketing. She has worked on
									| a variety of consumer and B2B brands in the technology and retail sectors
									| including Microsoft/Bing, HP, Dell, Travelocity, and JCPenney. Prior to joining
									| Razorfish, Deidra was VP, Group Media Director and U.S. Ideas Director for
									| ZenithOptimedia where she led an integrated media planning and buying team for
									| Hewlett-Packard. This work crossed all media including TV, digital, print, radio,
									| and OOH, with an annual budget greater than $300 million. While at ZO, Deidra
									| gained significant TV experience across the upfronts, scatter, spot and DRTV.
									| Deidra is an active contributor to industry panels; this year she is the mobile
									| ambassador for the Ad:Tech conference in San Francisco. Her creative approach to
									| media has garnered industry awards including Digital Media Plan of the Year,
									| Creative Media Awards (finalist), and EFFIE awards.

					.clear

				hr

				#links
					h4 websites, newsletters & blogs
					ul.dark-text
						li
							a( target='_blank', href='http://emergingexperiences.com' ) Razorfish Emerging Experiences: emergingexperiences.com
						li
							a( target='_blank', href='http://razorfishsearch.com' ) Search: razorfishsearch.com
						li
							a( target='_blank', href='http://scattergather.razorfish.com' ) Content Strategy: scattergather.razorfish.com
						li
							a( target='_blank', href='http://technology.razorfish.com' ) Technology: technology.razorfish.com

					br
					br

					h4 published thought leadership
					ul.dark-text
						li
							a( target='_blank', href='http://razorfishoutlook.razorfish.com' ) Razorfish Outlook Report: razorfishoutlook.razorfish.com (2011 edition coming out in November)
						li
							a( target='_blank', href='http://razorfish5.com' ) Razorfish 5 (2011): razorfish5.com
						li
							a( target='_blank', href='http://razorfish5.razorfish.com' ) Razorfish 5 (2010): razorfish5.razorfish.com
						li
							a( target='_blank', href='http://liminal.razorfish.com' ) Liminal: liminal.razorfish.com

					.clear

				hr

				.bottom-banner
					.bg
					
				.clear