/*************************************
 * Include equivalent of a reset.css *
 *************************************/
global-reset()

.clear
	clearfix()

/**********************************
 * Define sizes & other variables *
 * ( Yes, Stylus has Variables )  *
 **********************************/

linkColor = #0CF

body
	position    relative
	color       #FFF
	font-family verdana, sans-serif
	font-size   11px
	background  #000

hr
	border     0px
	height     1px
	margin     0px
	background sprite( '../images/h-dotted-line.gif' ) repeat-x

for Z in 1..6
	.z{Z}
		z-index Z !important

h1
	font-size   34px
	font-family MetaNormalRegular, Verdana, sans-serif


h4
	font-family 'Open Sans', sans-serif
	font-size   18px
	padding     0 0 5px 0

em
	font-style italic


a, a:active, a:visited
	color           inherit
	text-decoration none

a:hover
	color linkColor

.dark-text
	color #999

.video
	overflow hidden


#site
	position relative



#top-banner
	background #0CF
	height     174
	position   absolute
	top        0px
	left       0px
	width      100%

.top-banner
	height        134px
	font-family   MetaNormalRegular, Verdana, sans-serif
	padding       40px 0 0 150px
	font-size     14px

	.bg
		background url( '../images/logo_nokia.gif' ) no-repeat 0 50px
		position   absolute
		top        0px
		width      200px
		height     174px
		left       -50px

	.copy
		line-height 20px


#content
	position relative
	width    850px
	margin   0 auto
	z-index  2


#download
	background  url( '../images/phones.png' ) no-repeat
	margin-top  80px
	height      355
	position    relative
	top         0
	left        0
	white-space nowrap

	.content
		position       absolute
		left           420

		.logo
			spriteSize()
			background sprite( '../images/logo_nokia_amazing.png' )

		a.btn
			display block
			float   left
			margin  50px 30px 50px 0

		.download_preso
			spriteSize()
			background sprite( '../images/btn_download_preso.png' )
			
			&:hover
				background sprite( '../images/btn_hover_download_preso.png' )

		.view_demo
			spriteSize()
			background sprite( '../images/btn_view_demo.png' )
			
			&:hover
				background sprite( '../images/btn_hover_view_demo.png' )

		.download_rfp
			spriteSize()
			background sprite( '../images/btn_download_rfp.png' )

			&:hover
				background sprite( '../images/btn_hover_download_rfp.png' )



		.contact
			margin      0 0 0 10px
			font-family MetaNormalRegular, Verdana, sans-serif
			font-size   18px
			width       300px

			small, small a
				font-family verdana, sans-serif
				font-size   11px

			small a:hover
				color linkColor


#team
	background url( '../images/btn_our_team.png' ) no-repeat;
	margin     20px -100px 20px 0
	padding    0 0 0 150px
	min-height 97px

	ul
		float  left
		margin 0 35px 0 0

		li
			list-style-type none
			padding         0 10px 0 0
			line-height     16px

			&.first
				margin-bottom 25px

			&.bob-lord
				background url( '../images/thumb-bob-lord.jpg' ) no-repeat

			&.brandon
				background url( '../images/thumb-brandon-geary.jpg' ) no-repeat

			&.garrick
				background url( '../images/thumb-garrick-schmitt.jpg' ) no-repeat

			&.christian
				background url( '../images/thumb-christian-juhl.jpg' ) no-repeat

			&.joe
				background url( '../images/thumb-joe-mele.jpg' ) no-repeat

			&.jennifer
				background url( '../images/thumb-jennifer-friese.jpg' ) no-repeat

			a
				position relative
				display    block

			.bio
				display       none
				position      absolute
				top           20px
				left          20px
				border        1px solid #666
				background    #000
				border-radius 5px
				padding       10px
				width         400px
				color         #999
				box-shadow    0px 0px 10px #CCC
				
				br
					margin      10px 0
					display     block
					line-height 35px


#reels
	margin     20px 0
	padding    0 0 0 150px
	background url( '../images/btn_view_videos.png' ) no-repeat;
	min-height 97px

	ul
		margin 20px 0 0 -3px

		li

			a
				float       left
				white-space nowrap
				display     block
				margin      15px 70px 0 0

				&.takeover
					spriteSize()
					background sprite( '../images/thumb_nokia_takeover.png' ) no-repeat
				
				&.tiles
					spriteSize()
					background sprite( '../images/thumb_nokia_tiles.png' ) no-repeat


#links
	background url( '../images/btn_more_info.png' ) no-repeat;
	margin     20px 0
	padding    0 0 0 150px
	min-height 97px

	h3
		margin 30px 0 10px 0

	#sites, #published
		display        inline-block
		width          50%
		vertical-align top

		ul
			li
				list-style-type none
				padding-left    15px
				background      url( '../images/right-arrow.gif' ) no-repeat 0px 2px
				margin          4px 0 0 0


#bottom-banner
	height     137
	position   absolute
	bottom     0px
	left       0px
	width      100%

.bottom-banner
	margin     50px 0
	text-align center

	.bg
		height     75px
		background url( '../images/logo_nokia_razorfish.png' ) no-repeat 50% 0