/*************************************
 * Include equivalent of a reset.css *
 *************************************/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0px;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
/**********************
 * Disable scrollbars *
 **********************/
html,
body {
  overflow: hidden;
  width: 100%;
  height: 100%;
}
#loading {
  width: 100%;
  height: 100%;
  background: #777;
  display: table;
  text-align: center;
}
.wrapper {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.logo {
  background: url("../images/logo.png");
  width: 914px;
  height: 671px;
  margin: 0 auto;
}
@-webkit-keyframes slide {
  0% {
    background-position-x: 0px;
  }

  100% {
    background-position-x: 40px;
  }
}
.progress_bar {
  background-color: #191919;
  height: 36px;
  width: 250px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  border-radius: 18px;
  position: relative;
  z-index: 1;
  -webkit-box-shadow: inset 0 1px 2px #000, 0 1px 0 #2b2b2b;
  margin: 0 auto;
  top: -180px;
}
.progress_bar .progress {
  position: absolute;
  z-index: 1;
  top: 4px;
  left: 4px;
  width: 10%;
  height: 28px;
  -webkit-background-size: 40px 40px;
  -moz-background-size: 40px 40px;
  background-size: 40px 40px;
  background-position: 0px 0px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  border-radius: 18px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.30), inset 0 -1px 3px rgba(0,0,0,0.40), 0 1px 1px #000;
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.30), inset 0 -1px 3px rgba(0,0,0,0.40), 0 1px 1px #000;
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.30), inset 0 -1px 3px rgba(0,0,0,0.40), 0 1px 1px #000;
  background-image: -webkit-gradient(linear, 0 0, 100% 100%, from(#a20000), color-stop(0.25, #a20000), color-stop(0.25, #8a0000), color-stop(0.5, #8a0000), color-stop(0.5, #a20000), color-stop(0.75, #a20000), color-stop(0.75, #8a0000), to(#8a0000));
  -webkit-animation: slide 0.7s linear infinite;
  -webkit-transition: width 1s;
}
.progress_bar label {
  color: #fff;
  position: absolute;
  z-index: 1;
  top: 10px;
  font-size: 12px;
  left: 14px;
  text-shadow: 1px 1px #000;
}
#widget {
  -webkit-transition: opacity 1s;
}
#widget .menu {
  display: none;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 5px;
  border: 1px solid #000;
  border-top-width: 0px;
  background: #5980ac;
  opacity: 0.8;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
  -webkit-box-shadow: 0px 0px 10px #000;
  -moz-box-shadow: 0px 0px 10px #000;
  box-shadow: 0px 0px 10px #000;
  padding: 0px 5px 30px 5px;
  -webkit-transition: top 0.5s;
}
#widget .menu .icon {
  margin: 5px auto;
  opacity: 0.5;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  cursor: pointer;
  -webkit-transition: opacity 0.5s;
}
#widget .menu .icon.active {
  opacity: 1;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
}
#widget .menu .box {
  width: 50px;
  height: 60px;
  background: url("../images/sprite-0.png");
  background-position: 0 -50px;
}
#widget .menu .crystal {
  width: 42px;
  height: 50px;
  background: url("../images/sprite-0.png");
  background-position: 0 0;
}
#widget .menu .music {
  width: 46px;
  height: 50px;
  background: url("../images/sprite-0.png");
  background-position: -42px 0;
}
#widget .menu .arrow {
  background: url("../images/icon_down.png") no-repeat 50% 50%;
  position: absolute;
  z-index: 1;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 25px;
  border-top: 1px solid #000;
  cursor: pointer;
}
#widget .menu.open .arrow {
  background: url("../images/icon_up.png") no-repeat 50% 50%;
}
#widget .bad-compass {
  width: 119px;
  height: 59px;
  background: url("../images/sprite-0.png");
  position: absolute;
  z-index: 1;
  bottom: 5px;
  right: 5px;
  display: none;
  background-position: -88px 0;
}
