!!! 5
html
    head
        link(href='site.css', rel='stylesheet', type='text/css')
    body
        #navigation
            li
                a(href='index.html') Home
            li
                a(href='browser-support.html') Browser Support
            li
                a(href='browser.html') Browser Best Practices
            li
                a(href='layouts.html') Page Layout
            li
                a(href='css-structure.html') CSS Structure
            li
                a(href='jquery.html') jQuery
            li
                a(href='js-oo.html') Javascript OO
            li
                a(href='jq-events.html') jQuery Events
            li
                a(href='widgets.html') Widgets
            li
                a(href='mobile.html') Mobile Support
            li
                a(href='fonts.html') Fonts
            li
                a(href='video.html') Video
            hr
            li
                a(href='templates.html') Template Languages
            li
                a(href='frameworks.html') Frameworks
            hr
            li
                a(href='about.html') Revision History

        .content
            !{locals.content}